<section class="bg-[#E6E8E9]">
  
        <div class="grid grid-cols-12 gap-4 lg:py-14 lg:px-24 md:py-6 sm:py-4 md:px-12 sm:px-6">
            <div class="container mx-auto lg:col-span-5 md:col-span-12 sm:col-span-12 flex flex-col">
                <p class="text-sm font-semibold text-gray-600 mb-3">HELLO,</p>
                <h2 class="text-4xl text-gray-600 mb-10">We Are <span class="font-medium text-gray-900">PLUS WORK</span></h2>
                <h1 class="text-6xl text-gray-900 m-8">+WORK</h1>
            </div>
            <!-- ... -->
            <div class="container mx-auto lg:col-span-7 md:col-span-12 sm:col-span-12">
                <p class="text-md font-light text-gray-700 mt-6">Welcome to <span class="text-gray-900 font-medium">PLUS WORK</span>, where Global Talent meets borderless opportunities. We specialize in connecting top-tier talent with exceptional opportunities worldwide. Our unique offerings serve the needs of remote workers, providing a platform that crosses borders.  Our diverse community of skilled professionals, where expertise knows no borders, and together, let's redefine the future of remote work. 
                    Join us in shaping the future of work, where distance is no longer a barrier to success.</p>
                    <button type="button" class="focus:outline-none text-gray-100 bg-[#ea580c] hover:bg-[#ea580c] rounded-sm text-xs px-5 py-2 me-1 mt-6">WHAT WE PROVIDE</button>

            </div>
        </div>

</section>
